<a href="https://colab.research.google.com/github/SantiagoMaya10/PPI-MayaRestrepo-2024-1s/blob/main/SI03_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## «*El mundo exige resultados. No cuentes a otros tus dolores del parto. Muéstrales al niño.*»

### [Indira Gandhi](https://es.wikipedia.org/wiki/Indira_Gandhi)

# SI03 Pandas

Actividad individual.

Utilice el dataset asignado en [datasets panda](https://docs.google.com/spreadsheets/d/e/2PACX-1vQi3ziCNg_TlAHPvHceFDyqFZeouQk7-uWcSSv-VTsYHnzx5VEyp3u_rp5pNiuPdNta898xj7vJzZPL/pubhtml).

Resuelva los siguientes ejercicios con códigos que se ajusten al PEP8. Recuerde incluir los comentarios en el código y documentar las funciones con docstrings al estilo de Google.

**Importante:**

**no se permite la utilización de ciclos (for or while) para resolver los ejercicios.**

**todos los ejercicios deben ser resueltos con Pandas.**

# Preparación del ejercicio

*   Importe las librerías requeridas
*   Lea el dataset a utilizar desde una url

**Sugerencia**: suba el dataset a un repositorio de GitHub, o al Googledrive de su **cuenta personal de gmail** y luego publíquelo en la web como un archivo *.csv.

Nota: si lo desea puede utilizar otro método para obtener la url del dataset.

In [13]:
# Escriba aquí su código

# Importar las librerías necesarias
import pandas as pd

# Conocer la versiones de las librerías instaladas
print('Pandas version:', pd.__version__)

# Guardar en la variable 'ruta' la url del dataset
ruta = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTxRT0O2ix4OhCJNSBLF9Luq5KoC3jGbh-ZjWRjIl4bb7JJZuFc1qmzVphw0a6dRII0RcOiyuG-4caP/pub?gid=1349028561&single=true&output=csv"

# Cargar el dataset a partir de la ruta establecida
data = pd.read_csv(ruta)

# Verificar la lectura del dataset
print("La forma del DataFrame es:", data.shape, sep = "\n")

Pandas version: 2.0.3
La forma del DataFrame es:
(4999, 25)

## Ejercicio 00

Muestre las principales características del dataset utilizando pandas.

En particular muestre los nombres de las columnas y sus tipos; el índice del dataset; la forma del dataset.

In [17]:
# Escriba su código aquí

print("Los nombres de las columnas del DataFrame son:")
print(data.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(data.dtypes)


print("\nÍndice del dataset:")
print(data.index)

print("\nLa forma del DataFrame es:")
print(data.shape)

Los nombres de las columnas del DataFrame son:
['Year', 'Make', 'Model', 'Condition', 'Price', 'Consumer_Rating', 'Consumer_Review_#', 'Exterior_Color', 'Interior_Color', 'Drivetrain', 'MPG', 'Fuel_Type', 'Transmission', 'Engine', 'VIN', 'Stock_#', 'Mileage', 'Comfort_Rating', 'Interior_Design_Rating', 'Performance_Rating', 'Value_For_Money_Rating', 'Exterior_Styling_Rating', 'Reliability_Rating', 'State', 'Seller_Type']

Tipo de datos correspondendiente a las columnas:
Year                         int64
Make                        object
Model                       object
Condition                   object
Price                       object
Consumer_Rating            float64
Consumer_Review_#            int64
Exterior_Color              object
Interior_Color              object
Drivetrain                  object
MPG                         object
Fuel_Type                   object
Transmission                object
Engine                      object
VIN                         object
Stock_#                     object
Mileage                     object
Comfort_Rating             float64
Interior_Design_Rating     float64
Performance_Rating         float64
Value_For_Money_Rating     float64
Exterior_Styling_Rating    float64
Reliability_Rating         float64
State                       object
Seller_Type                 object
dtype: object

Índice del dataset:
RangeIndex(start=0, stop=4999, step=1)

La forma del DataFrame es:
(4999, 25)

## Ejercicio 01

Cree el df_01 con las siguientes características:

Diez columnas (dentro de las diez columnas deben estar la primera y la última columna del dataset original).

Diez filas (las filas deben corresponder a las cinco primeras filas y las cinco últimas filas del dataset original).

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 02

Modifique el índice del df_01 creado en el paso anterior.

Opción 1: utilice una de las columnas de df_01 como el nuevo índice.

Opción 2: cree el índice a partir de una secuencia cronológica.

Cambie los nombres de las columnas del DataFrame a "Primera", "segunda", etcétera.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 03

Utilizando el método **loc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava de DataFrame modificado.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 04

Utilizando el método **iloc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava del DataFrame modificado.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 05

Calcule el promedio de una de las columnas numéricas del DataFrame modificado.

Cree el DataFrame df_02 conservando todas las columnas del DataFrame modificado y seleccionando los valores superiores al promedio en la columna numérica que tomó como referencia para el ejercicio.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 06

Seleccione una columna del DataFrame **original** que contenga una variable categórica (si no hay variables categóricas cree una columna con variables categóricas a partir de alguna columna numérica del DataFrame).

Utilice el método **groupby** para analizar la información del DataFrame a partir de la variable categórica seleccionada.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 07

Cree una tabla dinámica, utilizando el método **pivottable**, para analizar la información del DataFrame **original**.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 08

Encuentre todos los valores nulos del DataFrame original y cambie esos valores nulos con la media de la respectiva columna.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## Ejercicio 09

Encuentre todos los valores nulos del DataFrame original y elimine la fila correspondiente.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí