<a href="https://colab.research.google.com/github/SantiagoMaya10/PPI-MayaRestrepo-2024-1s/blob/main/SI03_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## «*El mundo exige resultados. No cuentes a otros tus dolores del parto. Muéstrales al niño.*»

### [Indira Gandhi](https://es.wikipedia.org/wiki/Indira_Gandhi)

# SI03 Pandas

Actividad individual.

Utilice el dataset asignado en [datasets panda](https://docs.google.com/spreadsheets/d/e/2PACX-1vQi3ziCNg_TlAHPvHceFDyqFZeouQk7-uWcSSv-VTsYHnzx5VEyp3u_rp5pNiuPdNta898xj7vJzZPL/pubhtml).

Resuelva los siguientes ejercicios con códigos que se ajusten al PEP8. Recuerde incluir los comentarios en el código y documentar las funciones con docstrings al estilo de Google.

**Importante:**

**no se permite la utilización de ciclos (for or while) para resolver los ejercicios.**

**todos los ejercicios deben ser resueltos con Pandas.**

# Preparación del ejercicio

*   Importe las librerías requeridas
*   Lea el dataset a utilizar desde una url

**Sugerencia**: suba el dataset a un repositorio de GitHub, o al Googledrive de su **cuenta personal de gmail** y luego publíquelo en la web como un archivo *.csv.

Nota: si lo desea puede utilizar otro método para obtener la url del dataset.

In [42]:
# Escriba aquí su código

# Importar las librerías necesarias
import pandas as pd

# Conocer la versiones de las librerías instaladas
print('Pandas version:', pd.__version__)

# Guardar en la variable 'ruta' la url del dataset
ruta = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTxRT0O2ix4OhCJNSBLF9Luq5KoC3jGbh-ZjWRjIl4bb7JJZuFc1qmzVphw0a6dRII0RcOiyuG-4caP/pub?gid=1349028561&single=true&output=csv"

# Cargar el dataset a partir de la ruta establecida
data = pd.read_csv(ruta)

# Verificar la lectura del dataset
print("La forma del DataFrame es:", data.shape, sep = "\n")

Pandas version: 2.0.3
La forma del DataFrame es:
(4999, 25)

## Ejercicio 00

Muestre las principales características del dataset utilizando pandas.

En particular muestre los nombres de las columnas y sus tipos; el índice del dataset; la forma del dataset.

In [43]:
# Escriba su código aquí

print("Los nombres de las columnas del DataFrame son:")
print(data.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(data.dtypes)

print("\nÍndice del dataset:")
print(data.index)

print("\nLa forma del DataFrame es:")
print(data.shape)

Los nombres de las columnas del DataFrame son:
['Year', 'Make', 'Model', 'Condition', 'Price', 'Consumer_Rating', 'Consumer_Review_#', 'Exterior_Color', 'Interior_Color', 'Drivetrain', 'MPG', 'Fuel_Type', 'Transmission', 'Engine', 'VIN', 'Stock_#', 'Mileage', 'Comfort_Rating', 'Interior_Design_Rating', 'Performance_Rating', 'Value_For_Money_Rating', 'Exterior_Styling_Rating', 'Reliability_Rating', 'State', 'Seller_Type']

Tipo de datos correspondendiente a las columnas:
Year                         int64
Make                        object
Model                       object
Condition                   object
Price                       object
Consumer_Rating            float64
Consumer_Review_#            int64
Exterior_Color              object
Interior_Color              object
Drivetrain                  object
MPG                         object
Fuel_Type                   object
Transmission                object
Engine                      object
VIN                         object
Stock_#                     object
Mileage                     object
Comfort_Rating             float64
Interior_Design_Rating     float64
Performance_Rating         float64
Value_For_Money_Rating     float64
Exterior_Styling_Rating    float64
Reliability_Rating         float64
State                       object
Seller_Type                 object
dtype: object

Índice del dataset:
RangeIndex(start=0, stop=4999, step=1)

La forma del DataFrame es:
(4999, 25)

## Ejercicio 01

Cree el df_01 con las siguientes características:

Diez columnas (dentro de las diez columnas deben estar la primera y la última columna del dataset original).

Diez filas (las filas deben corresponder a las cinco primeras filas y las cinco últimas filas del dataset original).

Muestre el resultado y las características del DataFrame.

In [44]:
# Escriba su código aquí

# Seleccionamos la primera columna del dataset
df_01_primera_columna = data.iloc[:,:1]

# Seleccionamos la última columna del dataset
df_01_ultima_columna = data.iloc[:,-1:]

# Seleccionamos 8 columnas diferentes de la priemra y la última
df_01_columnas_intermedias = data.iloc[:,1:9]

# Juntamos las columnas anteriormente seleccionadas
df_01_columnas = pd.concat([df_01_primera_columna,\
                    df_01_columnas_intermedias, df_01_ultima_columna], axis=1)

# Seleccionamos las primeras 5 filas de df_01_columnas
df_01_primeras_cinco = df_01_columnas.head(5)

# Seleccionamos las últimas 5 filas de df_01_columnas
df_01_ultimas_cinco = df_01_columnas.tail(5)

# Juntamos df_01_primeras_cinco y df_01_ultimas_cinco
df_01 = pd.concat([df_01_primeras_cinco, df_01_ultimas_cinco], axis=0)

print("Los nombres de las columnas del DataFrame son:")
print(df_01.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(df_01.dtypes)

print("\nÍndice del dataset:")
print(df_01.index)

print("\nLa forma del DataFrame es:")
print(df_01.shape)

print("\nLos datos del DataFrame son:")
print(df_01)

Los nombres de las columnas del DataFrame son:
['Year', 'Make', 'Model', 'Condition', 'Price', 'Consumer_Rating', 'Consumer_Review_#', 'Exterior_Color', 'Interior_Color', 'Seller_Type']

Tipo de datos correspondendiente a las columnas:
Year                   int64
Make                  object
Model                 object
Condition             object
Price                 object
Consumer_Rating      float64
Consumer_Review_#      int64
Exterior_Color        object
Interior_Color        object
Seller_Type           object
dtype: object

Índice del dataset:
Index([0, 1, 2, 3, 4, 4994, 4995, 4996, 4997, 4998], dtype='int64')

La forma del DataFrame es:
(10, 10)

Los datos del DataFrame son:
      Year   Make                      Model Condition    Price  \
0     2023  Honda              Ridgeline RTL       New  $46,370
1     2023  Honda          CR-V Hybrid Sport       New  $34,150
2     2023  Honda          CR-V Hybrid Sport       New  $34,245
3     2022  Honda           Pilot TrailSport       New  $46,500
4     2023  Honda  CR-V Hybrid Sport Touring       New  $40,395
4994  2018  Honda               Accord Sport      Used  $19,999
4995  2020  Honda                     Fit LX      Used  $17,495
4996  2018  Honda                Civic Sport      Used  $19,500
4997  2011  Honda                Accord EX-L      Used  $17,998
4998  2023  Honda                Pilot Elite       New  $53,325

      Consumer_Rating  Consumer_Review_#           Exterior_Color  \
0                 4.8                  9     Platinum White Pearl
1                 1.7                 24     Platinum White Pearl
2                 4.7               2869  Meteorite Gray Metallic
3                 5.0                 12         Sonic Gray Pearl
4                 4.4                 12      Crystal Black Pearl
4994              5.0               3234                    White
4995              4.3                 54                      Red
4996              4.3               1925       White Orchid Pearl
4997              4.6                  4                    Black
4998              4.3                240    Modern Steel Metallic

     Interior_Color Seller_Type
0             Beige      Dealer
1             Black      Dealer
2             Black      Dealer
3             Black      Dealer
4             Black      Dealer
4994          Black      Dealer
4995          Black      Dealer
4996          Beige      Dealer
4997          Black      Dealer
4998          Brown      Dealer

## Ejercicio 02

Modifique el índice del df_01 creado en el paso anterior.

Opción 1: utilice una de las columnas de df_01 como el nuevo índice.

Opción 2: cree el índice a partir de una secuencia cronológica.

Cambie los nombres de las columnas del DataFrame a "Primera", "segunda", etcétera.

Muestre el resultado y las características del DataFrame.

In [45]:
# Escriba su código aquí

# Cambiamos el indice del arreglo
# Opción 2
# Creamos un índice de fechas cn frecuencia diaria
fechas_d = pd.date_range('20240425', periods=10, freq='D')

df_01_modificado = df_01

# Remplazamos por el uevo índice de fechas
df_01_modificado.index = fechas_d

# Ahora cambiamos los nombres de las columnas
df_01_modificado.columns = ['Primera', 'Segunda', 'Tercera',\
        'Cuarta', 'Quinta', 'Sexta', 'Séptima', 'Octava', 'Novena', 'Décima']


print("Los nombres de las columnas del DataFrame son:")
print(df_01_modificado.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(df_01_modificado.dtypes)

print("\nÍndice del dataset:")
print(df_01_modificado.index)

print("\nLa forma del DataFrame es:")
print(df_01_modificado.shape)

print("\nLos datos del DataFrame son:")
print(df_01_modificado)

Los nombres de las columnas del DataFrame son:
['Primera', 'Segunda', 'Tercera', 'Cuarta', 'Quinta', 'Sexta', 'Séptima', 'Octava', 'Novena', 'Décima']

Tipo de datos correspondendiente a las columnas:
Primera      int64
Segunda     object
Tercera     object
Cuarta      object
Quinta      object
Sexta      float64
Séptima      int64
Octava      object
Novena      object
Décima      object
dtype: object

Índice del dataset:
DatetimeIndex(['2024-04-25', '2024-04-26', '2024-04-27', '2024-04-28',
               '2024-04-29', '2024-04-30', '2024-05-01', '2024-05-02',
               '2024-05-03', '2024-05-04'],
              dtype='datetime64[ns]', freq='D')

La forma del DataFrame es:
(10, 10)

Los datos del DataFrame son:
            Primera Segunda                    Tercera Cuarta   Quinta  Sexta  \
2024-04-25     2023   Honda              Ridgeline RTL    New  $46,370    4.8
2024-04-26     2023   Honda          CR-V Hybrid Sport    New  $34,150    1.7
2024-04-27     2023   Honda          CR-V Hybrid Sport    New  $34,245    4.7
2024-04-28     2022   Honda           Pilot TrailSport    New  $46,500    5.0
2024-04-29     2023   Honda  CR-V Hybrid Sport Touring    New  $40,395    4.4
2024-04-30     2018   Honda               Accord Sport   Used  $19,999    5.0
2024-05-01     2020   Honda                     Fit LX   Used  $17,495    4.3
2024-05-02     2018   Honda                Civic Sport   Used  $19,500    4.3
2024-05-03     2011   Honda                Accord EX-L   Used  $17,998    4.6
2024-05-04     2023   Honda                Pilot Elite    New  $53,325    4.3

            Séptima                   Octava Novena  Décima
2024-04-25        9     Platinum White Pearl  Beige  Dealer
2024-04-26       24     Platinum White Pearl  Black  Dealer
2024-04-27     2869  Meteorite Gray Metallic  Black  Dealer
2024-04-28       12         Sonic Gray Pearl  Black  Dealer
2024-04-29       12      Crystal Black Pearl  Black  Dealer
2024-04-30     3234                    White  Black  Dealer
2024-05-01       54                      Red  Black  Dealer
2024-05-02     1925       White Orchid Pearl  Beige  Dealer
2024-05-03        4                    Black  Black  Dealer
2024-05-04      240    Modern Steel Metallic  Brown  Dealer

## Ejercicio 03

Utilizando el método **loc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava de DataFrame modificado.

Muestre el resultado y las características del DataFrame.

In [46]:
# Escriba su código aquí

# loc se utiliza con nombres de etiquetas de filas y columnas, ya que no tenemos índices numéricos
df_01_modificado_eje_03 = df_01_modificado.loc[['2024-04-27', '2024-04-28',\
                '2024-04-29', '2024-04-30'],['Cuarta', 'Quinta', 'Octava']]

print("Los nombres de las columnas del DataFrame son:")
print(df_01_modificado_eje_03.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(df_01_modificado_eje_03.dtypes)

print("\nÍndice del dataset:")
print(df_01_modificado_eje_03.index)

print("\nLa forma del DataFrame es:")
print(df_01_modificado_eje_03.shape)

print("\nLos datos del DataFrame son:")
print(df_01_modificado_eje_03)

Los nombres de las columnas del DataFrame son:
['Cuarta', 'Quinta', 'Octava']

Tipo de datos correspondendiente a las columnas:
Cuarta    object
Quinta    object
Octava    object
dtype: object

Índice del dataset:
DatetimeIndex(['2024-04-27', '2024-04-28', '2024-04-29', '2024-04-30'], dtype='datetime64[ns]', freq=None)

La forma del DataFrame es:
(4, 3)

Los datos del DataFrame son:
           Cuarta   Quinta                   Octava
2024-04-27    New  $34,245  Meteorite Gray Metallic
2024-04-28    New  $46,500         Sonic Gray Pearl
2024-04-29    New  $40,395      Crystal Black Pearl
2024-04-30   Used  $19,999                    White

## Ejercicio 04

Utilizando el método **iloc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava del DataFrame modificado.

Muestre el resultado y las características del DataFrame.

In [47]:
# Escriba su código aquí

# Utilizamos iloc con posiciones ya que este metodo solo recibe numeros enteros
df_01_modificado_eje_04 = df_01_modificado.iloc[2:6, [3, 4, 7]]

print("Los nombres de las columnas del DataFrame son:")
print(df_01_modificado_eje_04.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(df_01_modificado_eje_04.dtypes)

print("\nÍndice del dataset:")
print(df_01_modificado_eje_04.index)

print("\nLa forma del DataFrame es:")
print(df_01_modificado_eje_04.shape)

print("\nLos datos del DataFrame son:")
print(df_01_modificado_eje_04)

Los nombres de las columnas del DataFrame son:
['Cuarta', 'Quinta', 'Octava']

Tipo de datos correspondendiente a las columnas:
Cuarta    object
Quinta    object
Octava    object
dtype: object

Índice del dataset:
DatetimeIndex(['2024-04-27', '2024-04-28', '2024-04-29', '2024-04-30'], dtype='datetime64[ns]', freq='D')

La forma del DataFrame es:
(4, 3)

Los datos del DataFrame son:
           Cuarta   Quinta                   Octava
2024-04-27    New  $34,245  Meteorite Gray Metallic
2024-04-28    New  $46,500         Sonic Gray Pearl
2024-04-29    New  $40,395      Crystal Black Pearl
2024-04-30   Used  $19,999                    White

## Ejercicio 05

Calcule el promedio de una de las columnas numéricas del DataFrame modificado.

Cree el DataFrame df_02 conservando todas las columnas del DataFrame modificado y seleccionando los valores superiores al promedio en la columna numérica que tomó como referencia para el ejercicio.

Muestre el resultado y las características del DataFrame.

In [48]:
# Escriba su código aquí

promedio = df_01_modificado['Sexta'].mean()

# Se filtran los elements superiores al promedio
df_02 = df_01_modificado[df_01_modificado.Sexta > promedio]

print(f"El promedio de la columna 'Sexta' es: {promedio}")

print("Los nombres de las columnas del DataFrame son:")
print(df_02.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(df_02.dtypes)

print("\nÍndice del dataset:")
print(df_02.index)

print("\nLa forma del DataFrame es:")
print(df_02.shape)

print("\nLos datos del DataFrame son:")
print(df_02)

El promedio de la columna 'Sexta' es: 4.3100000000000005
Los nombres de las columnas del DataFrame son:
['Primera', 'Segunda', 'Tercera', 'Cuarta', 'Quinta', 'Sexta', 'Séptima', 'Octava', 'Novena', 'Décima']

Tipo de datos correspondendiente a las columnas:
Primera      int64
Segunda     object
Tercera     object
Cuarta      object
Quinta      object
Sexta      float64
Séptima      int64
Octava      object
Novena      object
Décima      object
dtype: object

Índice del dataset:
DatetimeIndex(['2024-04-25', '2024-04-27', '2024-04-28', '2024-04-29',
               '2024-04-30', '2024-05-03'],
              dtype='datetime64[ns]', freq=None)

La forma del DataFrame es:
(6, 10)

Los datos del DataFrame son:
            Primera Segunda                    Tercera Cuarta   Quinta  Sexta  \
2024-04-25     2023   Honda              Ridgeline RTL    New  $46,370    4.8
2024-04-27     2023   Honda          CR-V Hybrid Sport    New  $34,245    4.7
2024-04-28     2022   Honda           Pilot TrailSport    New  $46,500    5.0
2024-04-29     2023   Honda  CR-V Hybrid Sport Touring    New  $40,395    4.4
2024-04-30     2018   Honda               Accord Sport   Used  $19,999    5.0
2024-05-03     2011   Honda                Accord EX-L   Used  $17,998    4.6

            Séptima                   Octava Novena  Décima
2024-04-25        9     Platinum White Pearl  Beige  Dealer
2024-04-27     2869  Meteorite Gray Metallic  Black  Dealer
2024-04-28       12         Sonic Gray Pearl  Black  Dealer
2024-04-29       12      Crystal Black Pearl  Black  Dealer
2024-04-30     3234                    White  Black  Dealer
2024-05-03        4                    Black  Black  Dealer

## Ejercicio 06

Seleccione una columna del DataFrame **original** que contenga una variable categórica (si no hay variables categóricas cree una columna con variables categóricas a partir de alguna columna numérica del DataFrame).

Utilice el método **groupby** para analizar la información del DataFrame a partir de la variable categórica seleccionada.

Muestre el resultado y las características del DataFrame.

In [49]:
# Escriba su código aquí

# La columna seleccionada es la de Fuel_Type que tiene el tipo de
# Combustible de lso vehículos vendidos por honda y también se ha seleccionado
# El año promedio de las ventas por tipo de combustible y el rating promedio
grouped_data = data.groupby('Fuel_Type').agg({'Fuel_Type': 'count', \
                                    'Year': 'mean', 'Consumer_Rating': 'mean'})

# Remplazamos nombres de columnas para mayor claridad
grouped_data.columns = ['Fuel_Type_Count', 'Mean_Year', 'Consumer_Rating_Mean']

print("Los nombres de las columnas del DataFrame son:")
print(grouped_data.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(grouped_data.dtypes)

print("\nÍndice del dataset:")
print(grouped_data.index)

print("\nLa forma del DataFrame es:")
print(grouped_data.shape)

print("\nLos datos del DataFrame son:")
print(grouped_data)

# Se hace un análisis breve de los datos agrupados
print("\nAnálisis breve: Se ve mayor cantidad de ventas de vehículos a \
\ngasolina y el año de promedio en ventas fue el 2020. El año de promedio\
\nen ventas de los híbridos es el 2021, que es superior al de gasolina, \
\nlo que muestra el cambio gradual de la preferencia. Además se ve que aún \
\nlos dueños de los vehículos a gasolina prefieren estos sobre los híbridos\
\npor un pequeño márgen, esto se ve reflejado en el promedio de rating que\
\ndieron los dueños")

Los nombres de las columnas del DataFrame son:
['Fuel_Type_Count', 'Mean_Year', 'Consumer_Rating_Mean']

Tipo de datos correspondendiente a las columnas:
Fuel_Type_Count           int64
Mean_Year               float64
Consumer_Rating_Mean    float64
dtype: object

Índice del dataset:
Index(['5-Speed A/T', '6-Speed M/T', 'A/T', 'CVT Transmission',
       'Compressed Natural Gas', 'Gasoline', 'Hybrid'],
      dtype='object', name='Fuel_Type')

La forma del DataFrame es:
(7, 3)

Los datos del DataFrame son:
                        Fuel_Type_Count    Mean_Year  Consumer_Rating_Mean
Fuel_Type
5-Speed A/T                           1  2012.000000              4.500000
6-Speed M/T                           2  2010.500000              4.850000
A/T                                   2  2007.500000              4.450000
CVT Transmission                      1  2017.000000              4.600000
Compressed Natural Gas                1  2009.000000              4.400000
Gasoline                           4393  2020.417710              4.577145
Hybrid                              588  2021.280612              4.514116

Análisis breve: Se ve mayor cantidad de ventas de vehículos a
gasolina y el año de promedio en ventas fue el 2020. El año de promedio
en ventas de los híbridos es el 2021, que es superior al de gasolina,
lo que muestra el cambio gradual de la preferencia. Además se ve que aún
los dueños de los vehículos a gasolina prefieren estos sobre los híbridos
por un pequeño márgen, esto se ve reflejado en el promedio de rating que
dieron los dueños

## Ejercicio 07

Cree una tabla dinámica, utilizando el método **pivottable**, para analizar la información del DataFrame **original**.

Muestre el resultado y las características del DataFrame.

In [50]:
# Escriba su código aquí

# Create a pivot table
pivot = pd.pivot_table(data, index='Year', columns='Fuel_Type',\
                       values='Consumer_Rating', aggfunc='mean')

selected_columns_from_pivot = pivot.loc[:,['Gasoline', 'Hybrid']]

print("Los nombres de las columnas del DataFrame son:")
print(selected_columns_from_pivot.columns.tolist())

print("\nTipo de datos correspondendiente a las columnas:")
print(selected_columns_from_pivot.dtypes)

print("\nÍndice del dataset:")
print(selected_columns_from_pivot.index)

print("\nLa forma del DataFrame es:")
print(selected_columns_from_pivot.shape)

print("\nLos datos del DataFrame son:")
print(selected_columns_from_pivot)
# Se hace un análisis breve de los datos agrupados
print("\nAnálisis breve: Se observa que a partir del 2010 se ve la entrada \
\nmasiva de autos híbridos Honda al mercado. Se ve una calificación progresiva\
\nen aumento por parte de los compradores. Las calificaciones de los autos a \
\na gasolina siempre ha sifo positiva con valores por encima de 4 en su mayoría.\
\nEn la actualidad se observa una aprobación general de ambos tipos de autos.")

Los nombres de las columnas del DataFrame son:
['Gasoline', 'Hybrid']

Tipo de datos correspondendiente a las columnas:
Fuel_Type
Gasoline    float64
Hybrid      float64
dtype: object

Índice del dataset:
Index([1981, 1987, 1989, 1991, 1992, 1993, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
      dtype='int64', name='Year')

La forma del DataFrame es:
(33, 2)

Los datos del DataFrame son:
Fuel_Type  Gasoline    Hybrid
Year
1981       4.600000       NaN
1987       4.300000       NaN
1989       3.400000       NaN
1991       4.600000       NaN
1992       4.700000       NaN
1993       3.500000       NaN
1997       4.566667       NaN
1998       4.450000       NaN
1999       4.600000       NaN
2000       4.666667       NaN
2001       4.660000       NaN
2002       4.150000       NaN
2003       4.450000       NaN
2004       4.540000       NaN
2005       4.440000  2.200000
2006       4.156250       NaN
2007       4.311111       NaN
2008       4.496154       NaN
2009       4.459259       NaN
2010       4.307692  4.333333
2011       4.477778  3.700000
2012       4.520690  4.060000
2013       4.552941  4.340000
2014       4.541667  4.700000
2015       4.540000  4.333333
2016       4.605128  4.850000
2017       4.602400  4.572727
2018       4.584916  4.392593
2019       4.540227  4.529787
2020       4.588679  4.653125
2021       4.566555  4.494737
2022       4.593923  4.579375
2023       4.593498  4.497541

Análisis breve: Se observa que a partir del 2010 se ve la entrada
masiva de autos híbridos Honda al mercado. Se ve una calificación progresiva
en aumento por parte de los compradores. Las calificaciones de los autos a
a gasolina siempre ha sifo positiva con valores por encima de 4 en su mayoría.
En la actualidad se observa una aprobación general de ambos tipos de autos.

## Ejercicio 08

Encuentre todos los valores nulos del DataFrame original y cambie esos valores nulos con la media de la respectiva columna.

Muestre el resultado y las características del DataFrame.

In [51]:
# Escriba su código aquí

# Chequear si hay columnas con valores NA
print("\nReporte de NAs por columnas del DataFrame original:", \
      data.isna().sum(), sep = "\n")

# Calcular la media de cada columna numérica
numeric_means = data.select_dtypes(include='number').mean()

# Reemplazar los valores nulos con la media respectiva de la columna numérica
df_filled_numeric = data.fillna(numeric_means)

# Se muestra el reporte de valores NA después del proceso de relleno
print("\nReporte de NAs por columnas del DataFrame lleanod con promedios:", \
      df_filled_numeric.isna().sum(), sep = "\n")


# Mostrar el resultado y las características del DataFrame
print("\nMedia de cada columna numérica:")
print(numeric_means)
print("\nDataFrame con valores nulos en columnas numéricas \
reemplazados por la media respectiva:")
print(df_filled_numeric.info())

Reporte de NAs por columnas del DataFrame original:
Year                          0
Make                          0
Model                         0
Condition                     0
Price                         0
Consumer_Rating               0
Consumer_Review_#             0
Exterior_Color               11
Interior_Color               11
Drivetrain                   11
MPG                        1485
Fuel_Type                    11
Transmission                 11
Engine                       11
VIN                          11
Stock_#                      11
Mileage                      11
Comfort_Rating              552
Interior_Design_Rating      552
Performance_Rating          552
Value_For_Money_Rating      552
Exterior_Styling_Rating     552
Reliability_Rating          552
State                        73
Seller_Type                  73
dtype: int64

Reporte de NAs por columnas del DataFrame lleanod con promedios:
Year                          0
Make                          0
Model                         0
Condition                     0
Price                         0
Consumer_Rating               0
Consumer_Review_#             0
Exterior_Color               11
Interior_Color               11
Drivetrain                   11
MPG                        1485
Fuel_Type                    11
Transmission                 11
Engine                       11
VIN                          11
Stock_#                      11
Mileage                      11
Comfort_Rating                0
Interior_Design_Rating        0
Performance_Rating            0
Value_For_Money_Rating        0
Exterior_Styling_Rating       0
Reliability_Rating            0
State                        73
Seller_Type                  73
dtype: int64

Media de cada columna numérica:
Year                       2020.507702
Consumer_Rating               4.569654
Consumer_Review_#          1288.366673
Comfort_Rating                4.817540
Interior_Design_Rating        4.706814
Performance_Rating            4.663931
Value_For_Money_Rating        4.580976
Exterior_Styling_Rating       4.731954
Reliability_Rating            4.866269
dtype: float64

DataFrame con valores nulos en columnas numéricas reemplazados por la media respectiva:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4999 non-null   int64
 1   Make                     4999 non-null   object
 2   Model                    4999 non-null   object
 3   Condition                4999 non-null   object
 4   Price                    4999 non-null   object
 5   Consumer_Rating          4999 non-null   float64
 6   Consumer_Review_#        4999 non-null   int64
 7   Exterior_Color           4988 non-null   object
 8   Interior_Color           4988 non-null   object
 9   Drivetrain               4988 non-null   object
 10  MPG                      3514 non-null   object
 11  Fuel_Type                4988 non-null   object
 12  Transmission             4988 non-null   object
 13  Engine                   4988 non-null   object
 14  VIN                      4988 non-null   object
 15  Stock_#                  4988 non-null   object
 16  Mileage                  4988 non-null   object
 17  Comfort_Rating           4999 non-null   float64
 18  Interior_Design_Rating   4999 non-null   float64
 19  Performance_Rating       4999 non-null   float64
 20  Value_For_Money_Rating   4999 non-null   float64
 21  Exterior_Styling_Rating  4999 non-null   float64
 22  Reliability_Rating       4999 non-null   float64
 23  State                    4926 non-null   object
 24  Seller_Type              4926 non-null   object
dtypes: float64(7), int64(2), object(16)
memory usage: 976.5+ KB
None

## Ejercicio 09

Encuentre todos los valores nulos del DataFrame original y elimine la fila correspondiente.

Muestre el resultado y las características del DataFrame.

In [52]:
# Escriba su código aquí

# Chequear si hay columnas con valores NA
print("\nReporte de NAs por columnas del DataFrame original:", \
      data.isna().sum(), sep = "\n")

data_sin_na = data.dropna()
print("\nReporte de NAs por columnas después de eliminar las filas valores NA:",\
      data_sin_na.isna().sum(), sep = "\n")

# Chequear la forma del DataFrame después de suprimir las filas con valores NA
print("La forma del DataFrame original antes de suprimir las filas con valores \
NA es:", data.shape, sep = "\n")

# Chequear la forma del DataFrame después de suprimir las filas con valores NA
print("La forma del nuevo DataFrame después de suprimir las filas con valores \
NA es:", data_sin_na.shape, sep = "\n")

Reporte de NAs por columnas del DataFrame original:
Year                          0
Make                          0
Model                         0
Condition                     0
Price                         0
Consumer_Rating               0
Consumer_Review_#             0
Exterior_Color               11
Interior_Color               11
Drivetrain                   11
MPG                        1485
Fuel_Type                    11
Transmission                 11
Engine                       11
VIN                          11
Stock_#                      11
Mileage                      11
Comfort_Rating              552
Interior_Design_Rating      552
Performance_Rating          552
Value_For_Money_Rating      552
Exterior_Styling_Rating     552
Reliability_Rating          552
State                        73
Seller_Type                  73
dtype: int64

Reporte de NAs por columnas después de eliminar las filas valores NA:
Year                       0
Make                       0
Model                      0
Condition                  0
Price                      0
Consumer_Rating            0
Consumer_Review_#          0
Exterior_Color             0
Interior_Color             0
Drivetrain                 0
MPG                        0
Fuel_Type                  0
Transmission               0
Engine                     0
VIN                        0
Stock_#                    0
Mileage                    0
Comfort_Rating             0
Interior_Design_Rating     0
Performance_Rating         0
Value_For_Money_Rating     0
Exterior_Styling_Rating    0
Reliability_Rating         0
State                      0
Seller_Type                0
dtype: int64
La forma del DataFrame original antes de suprimir las filas con valores NA es:
(4999, 25)
La forma del nuevo DataFrame después de suprimir las filas con valores NA es:
(3385, 25)